:host ::ng-deep {
    main {
        // background-color: #fff;
        // min-height: 100vh;
        padding-bottom: 30px;
    }
    .mat-card {
        // -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
        // box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
        webkit-box-shadow: 0 0 3px 3px rgba(38, 49, 108, .06);
        box-shadow: 0 0 3px 3px rgba(38, 49, 108, .06);
        p {
            color: var(--appGreen);
        }
        // transition:400ms;
        .image-con {
            background-color: var(--appGray);
            height: 170px;
            overflow: hidden;
            img {
                vertical-align: middle;
                border-style: none;
                o-object-fit: cover;
                object-fit: cover;
                width: 100%;
                height: 100%;
                border: 0 !important;
                border: none !important;
                // display: none;
            }
        }
        &:hover {
            img {
                opacity: 0.5;
            }
            background-color: var(--appGreen);
            cursor: pointer;
            color: #fff;
            p {
                color: #fff !important;
            }
        }
    }
}