<main class="animated heartBeat">
    <div class="content ">
        <div class="container">
            <h1 class="text-white text-center mb-5">4<span class="app-green-color">0</span>4</h1>
            <div class="inner text-center">
                <p class=" text-white">Sorry, the route you followed may have been removed or doesn't exist</p>
                <button mat-raised-button routerLink="/" class="mt-5"> <mat-icon>home</mat-icon> Go home</button>
            </div>
        </div>
    </div>
</main>