/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
:root {
    --appGreen: #1dcf9f;
    --appGreenLight: #edfbf8;
    --appGray: #f9fbfc;
    --appBlue: #19154e;
    --appBlueLight: rgb(7, 20, 53);
}

// * {
//     transition: 800ms;
// }
.app-header {
    a.active {
        // color: var( --appGreen);
        border-color: var( --appGreen) !important;
    }
}

.rounded-10 {
    border-radius: 10px !important;
}

.rounded-60 {
    border-radius: 60px !important;
}

// ====== CSS ===== //
.app-green-bg {
    background-color: var( --appGreen) !important;
}

.app-green-color {
    color: var( --appGreen) !important;
}

.app-green-border {
    border-color: var( --appGreen) !important;
}

.app-green-light-bg {
    background-color: var( --appGreenLight) !important;
}

.app-green-light-color {
    color: var( --appGreenLight) !important;
}

.app-green-light-border {
    border-color: var( --appGreenLight) !important;
}

.app-color-blue {
    color: var(--appBlueLight) !important;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    // background-image: url('https://operapay.com/static/8652521ca6f53c8db9afca78882e8607/96d01/home-header-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--appGray);
    &::before {
        content: "#EndPoliceBrutality";
        background: var(--appGray);
        color: var(--appGreen);
        // opacity: 0.5;
        font-size: 25px;
        font-weight: 600;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
}

button:focus {
    outline: 1px dotted;
    outline: none !important;
    outline: 0 !important;
    outline: 0px auto #f0f2f5 !important;
}

a.mat-raised-button,
a.mat-button {
    text-decoration: none !important;
    &hover {
        color: inherit;
    }
}

.mat-dialog-container {
    // background-color: #5f6061;
    // background-color: rgba(255, 255, 255, 0.8);
    .mat-dialog-content {
        position: relative;
    }
    position: relative;
    display: block;
}

.dialog-rounded {
    .mat-dialog-container {
        border-radius: 15px !important;
    }
}

.dialog-no-padding {
    .mat-dialog-container {
        padding: 0 !important;
    }
}

.backdrop-none {
    background: transparent !important;
}

// .dialog-transparent-bg {
//     .mat-dialog-container {
//         background-color: rgba(255, 255, 255, 0.5) !important;
//         background-color: transparent !important;
//         color: #fff !important;
//     }
// }
.dialog-rounded-none {
    border-radius: none !important;
    border-radius: 0 !important;
    .mat-dialog-container {
        border-radius: none !important;
        border-radius: 0 !important;
    }
}

html,
body {
    height: 100%;
}

@media (min-width: 768px) {
    // ::-webkit-scrollbar-thumb {
    //     background-color: rgb(240, 240, 240) !important;
    // }
     ::-webkit-scrollbar,
     ::-webkit-scrollbar-thumb {
        width: 15px;
        border-radius: 50px;
        background-clip: padding-box;
        height: 10px !important;
        background-color: transparent !important;
    }
     ::-webkit-scrollbar-thumb {
        background-color: lightgray !important;
    }
}

.skeleton-con {
    position: relative;
    overflow: hidden;
    &::after {
        display: block;
        transition: ease box-shadow 0.3s;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: inherit;
        transform: translateX(-100%);
        background: linear-gradient(90deg, transparent, rgb(242, 242, 242), transparent);
        animation: skeleton-loading 2.0s infinite;
    }
}

@keyframes skeleton-loading {
    100% {
        transform: translateX(100%);
    }
}


/* Responsive Styles */

@media screen and (max-width: 767px) {
    .mb-sm-4 {
        margin-bottom: 20px !important;
    }
    .mb-sm-10 {
        margin-bottom: 50px !important;
    }
}

@media screen and (max-width: 575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }
}